@{
    ViewData["Title"] = "Todo List";
}

<div class="text-center">
    <div class="flex-container">
        <div class="flex-container-left">
            <h1 class="display-2">Free Online To-Do List.</h1>
            <a class="button" asp-controller="Tasks" asp-action="Index">My Tasks</a>
        </div>
        <img class="flex-container-right" src="./img/Scr_Tasks.png" style="width: 50%; border-radius: 0 0 50px 0; width: 50%;" />
    </div>

    <br />

    <div class="flex-container" style="flex-direction: row-reverse;">
        <div class="flex-container-left">
            <h3 class="display-1">Created with asp.NET CORE</h3>
            <p>With ASP.NET, we can leverage a powerful set of tools and libraries to create a responsive and user-friendly interface, ensuring a seamless experience for clients managing their tasks. The platform's scalability enables the website to handle a growing number of tasks and users efficiently. Additionally, ASP.NET's integration with databases allows for secure and organized storage of task data, supporting features like task prioritization, due dates, and categorization. Its built-in security features enhance data protection, instilling confidence in clients regarding the confidentiality and integrity of their task information. Overall, ASP.NET provides a solid foundation for developing a feature-rich and reliable todo list website that meets the specific needs and preferences of clients.</p>
        </div>
        <img class="flex-container-right" src="https://logodix.com/logo/1797007.png" alt="Azure" />
    </div>

    <br />

    <div class="flex-container">
        <div class="flex-container-left">
            <h3 class="display-1">Cloud Based Service.</h3>
            <p> By integrating Azure's cloud computing solutions, the website ensures efficient data storage, scalability, and optimal performance. Azure's diverse set of tools and services, such as Azure Storage for secure data management, Azure App Service for streamlined application deployment, and Azure Functions for serverless computing, collectively contribute to the seamless operation of the Todo list platform. This strategic utilization of Azure's services not only enhances the website's overall user experience but also reinforces its infrastructure with industry-leading technology, allowing for flexibility and adaptability to meet the evolving needs of its users.</p>
        </div>
        <img class="flex-container-right" src="https://swimburger.net/media/fbqnp2ie/azure.svg" alt="Azure" />
    </div>






</div>
